*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100vh;

}
body{
    background-color: rgba(0, 0, 0, 0.80);

}
div[width~="100"]
{
    opacity: 1;
    width: 100px;
    height: 100px;
    background-color: pink;
}

